@font-face {
    src: url("../fonts/ampero/otf/Ampero-LightItalic.otf");
    font-family: Ampero_it;
}
@font-face {
    src: url("../fonts/ampero/otf/Ampero-Light.otf");
    font-family: Ampero;
}

html{
    font-family: Ampero;
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
}

#header{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    margin: 0 auto;
    font-family: Ampero_it;
}

.header-element{
    height: 40vh;
    width: 30%;
    max-height: 100%;
    display: flex;

    overflow: auto;
    position: relative;
}
.header-element::before{
    content: "";
    left: 0;
    right: 0;
    display: block;
    background-size: cover;
    filter: grayscale(100%) opacity(80%);
    transition: .5s;
    width:100%;
    height: 100%;
}
.header-element:hover::before{
    filter: grayscale(0) opacity(100%) blur(0);
    transition: .5s;
}
#matches::before{
    background-image: url("../images/match.jpg");
}
#players::before{
    background-image: url("../images/dessers.jpg")
}

.header-element span{
    position: absolute;
    font-size: 40px;
    bottom: 0;
    padding: 5%;
    box-sizing: border-box;
    width: 100%;
    color: white;

    background: linear-gradient(180deg, rgba(0,0,0,0.0), rgba(255, 0, 0, 0.4));
    backdrop-filter: blur(2px);
}

p{
    width: 50%;
    margin: auto;
    text-align: center;
}

table{
    border-collapse: collapse;
    padding: 10%;
}
table tr{
    cursor: pointer;
}
table tr{
    cursor: default;
    border: 1px solid transparent;
}

#line-up-container table tr:hover{
    background-color: rgba(0, 0, 0, 0.4) !important;
    color: #fff;
}

#shots-container table tr:nth-child(n+4):hover{
    background-color: rgba(0, 0, 0, 0.4) !important;
    color: #fff;
}
table tr:nth-child(odd){
    background-color: rgba(0, 0, 0, 0.1);
}
#shots-container td:nth-child(even){
    background-color: rgba(0, 0, 0, 0.1);
}
#shots-container tr:nth-child(n+4) td:hover{
    background-color: rgba(255, 255, 255, 0.5);
}


#line-up-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
#line-up-container .line-up-text{
    width: 25%;
    font-size: 25px;
}
#line-up-container .line-up-text td:hover{
    cursor: default;
}

#line-up-container .line-up-text td:hover{
   cursor: default;
}
#line-up-container #home{
    text-align: end;
}
#line-up-container #home tr{
    text-align: end;
}
#line-up-container img{
    width: 50%;
}
.highlight{
    fill: #62b223 !important;
    stroke: #fff !important;
    stroke-width: 2px;
    box-shadow: 5px 10px aliceblue;
    opacity: 1;
    transition: .4s ease;
}
.none{
    opacity: 0;
    transition: .4s ease;
}
g{
    transition: .4s ease;
}
path{
    transition: .4s ease;
}

#shots-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
#shots-container #shots-text{
    width: 40%;
    font-size: 20px;
    text-align: center;
}

#shots-container #shots-text #left{
    width: 40%;
}
#shots-container #shots-text #right{
    width: 40%;
}
#shots-container #shots-text #center{
    width: 20%;
}

#shots-container .shots-plot{
    width: 30%;
}
#shots-container svg{
    width: 100%;
}

#xG-container{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.xG-plot{
    height: auto !important;
    width: 30% !important;
}