<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static',filename='assets/styles/index.css') }}" type="text/css">
    </head>
    <body>
    <table>
        <tr>
        {% for key in competitions[0] %}
            <th>
                {{key}}
            </th>
        {% endfor %}
        </tr>
        {% for competition in competitions %}
            <tr id="{{competition['competition_id']}}-{{competition['season_id']}}" onclick="navigate(`{{ url_for('matches', competition=competition['competition_id'], season=competition['season_id']) }}`)">
            {% for key, value in competition.items() %}
                <td>{{value}}</td>
            {% endfor %}
            </tr>
        {% endfor %}
    </table>

    <script>
        function navigate(href){
            location.assign(href);
        }
    </script>
    <a href="">Matches</a>



    </body>
</html>