<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static',filename='assets/styles/index.css') }}" type="text/css">
    </head>
    <body>
        <div id="header">
            <div class="header-element" id="matches">
                <span>Latest match</span>
            </div>
            <div class="header-element" id="players">
                <span>Player performance</span>
            </div>
        </div>
        <p>
            The open source project <strong>feyenoorddata</strong> was made to gather and display all sorts of data about this club.
This consists of match data, player data and transfer data. Please note this project is in development, so updates will keep coming in the future.
Please feel free to new features by opening an issue!

        </p>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
        let player;
        function select(e){
            console.log(e.id);
            $.ajax({
                url: "/test",
                type: "get",
                data: {player: 'player x'},
                success: function(response) {
                player = response.response;
                console.log(player)
                },
                error: function (xhr) {
                    //Do Something to handle error
                }

            });
        }

</script>


<div class='container'>
    <a id=test onclick="select(this)"><button class='btn btn-default'>Test</button></a>
</div>
    </body>
</html>