<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/styles/index.css') }}" type="text/css">
</head>

<body>
<!--
        {% for team in matchData %}
            <table>
                <tr>
                    <th>{{team['formation']}}</th>
                </tr>
            {% for lineUp in team['lineup'] %}
                <tr>

                    {% for key, value in lineUp.items() %}
                        <td>{{value}}</td>
                    {% endfor %}

                </tr>
            {% endfor %}
            </table>
        <br><br>
        {% endfor %}
-->
        <div id="line-up-container">
            <table class="line-up-text" id="home" cellspacing="0">
                    <tr>
                        {% for player in matchData[0]['lineup'] %}
                            <tr id={{loop.index}}>
                                <td onmouseover="selectPosition({{loop.index}})" onmouseleave="deselectPosition({{loop.index}})">{{player['player']['name']}}</td>
                                <td onmouseover="selectPosition({{loop.index}})" onmouseleave="deselectPosition({{loop.index}})">{{player['jersey_number']}}</td>
                            </tr>
                        {% endfor %}
                    </tr>
                </table>
                {{lineup}}
                <table class="line-up-text" id="away">
                    <tr>
                        {% for player in matchData[1]['lineup'] %}
                            <tr>
                                <td onmouseover="selectPosition({{loop.index + 11}})" onmouseleave="deselectPosition({{loop.index + 11}})">{{player['jersey_number']}}</td>
                                <td onmouseover="selectPosition({{loop.index + 11}})" onmouseleave="deselectPosition({{loop.index + 11}})">{{player['player']['name']}}</td>
                            </tr>
                        {% endfor %}
                    </tr>
                </table>
        </div>

        <div id="shots-container">
            {{home_shots}}
            <div id="shots-text">Insert stats here</div>
            {{away_shots}}
        </div>

<script>
                function selectPosition(index){
                   document.getElementById("text_" + index).firstElementChild.firstElementChild.classList.toggle('highlight');
                }
                function deselectPosition(index){
                   document.getElementById("text_" + index).firstElementChild.firstElementChild.classList.toggle('highlight');
                }
            </script>

</body>
</html>